:root {
  --color-rosa: #e13b96;
  --color-negro: #000000;
  --color-blanco: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  box-sizing: border-box;
}

/* Comienzo Título inicial */
.container-inicial {
  width: 100%;
  min-width: max-content;
  height: auto;
  display: flex;
  /*
  justify-content: center;
  align-items: center;
  */
  margin: auto;
  padding: 0;
  border-radius: 10px;
  padding: 0 0 0 5px;

  /* > gradient color fondo < */
  background: #283048;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #859398, #283048);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #859398, #283048);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* > fin gradient color fondo < */

  /*
  background-image: url(/img/PoseConFondo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  border-radius: 10px;*/
}
.title{
  width: 100%;
  height: 100%;
}
#title {
  min-width: 200px;
  max-width: 800px;
  height: auto;
  text-align:center;
  text-shadow: 1px 1px 1.5px #252525, 1.2px 1.2px 2px rgb(17, 52, 92);
  font-size: 3rem;
  color: #f5f5f5;
  margin: 0 0 0 10px;
  justify-content: center;
  align-items: center;
}

#logo {
  max-width: 110px;
  min-width: 100px;
  height: auto;
  margin: 0 10px 0 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.container {
  width: 100%;
}

.row {
  width: 100%;
  height: max-content;
  max-width: 1650px;
  min-width: 640px;
  margin: auto;
  display: flex;
  flex-direction: column;
  /*
  justify-content: center;
  align-items: center;
  margin-top: 15px;*/
}

.col-md-4 {
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  transition: all 4s ease-in-out;
}
.col-md-4:hover{
  background-color: var(--color-blanco);
}

/* Fin Título inicial */

/* Boton Volver */
  /*> contenedor boton volver <*/
.container-volver {
  max-width: 180px;
  height: 50px;
  margin: auto auto auto 5%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);*/
  cursor: pointer;
  /*transition: all .2s ease-in-out;*/
  position: relative;
}
/*
.container-volver:hover {
  background-color: rgb(218, 198, 19);
  transform: scale(.98);
  border: 1.2px solid rgb(94, 40, 23);
  box-shadow: 0px 1px 100px 0px rgb(20, 190, 108) 10px 10px 30px -5px rgb(0, 0, 0) 0px 4px 20px 0px rgba(255, 255, 255, 0.975);
}
.volver {
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-shadow: 1px 1px 1.2px white;
  font-size: 1rem;
  color: #000000;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
*/
  /*> Fin contenedor boton volver <*/


  /*> Inicio Boton Volver <*/
:root {
  --btn-color: #61af54;
  --border-radius: 4px; /* Asume un valor, ajusta según necesites */
  --border-foto: rgba(219, 222, 224, 0.438);
}

#container-volver {
  color: rgb(228, 228, 34);
  font-size: 1.4rem;
  text-decoration: none;
  text-shadow: 1px 1px 1.2px rgb(0, 0, 0);
  padding: 5px;
  transition: all 0.3s;

  &::before,
  &::after {
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.5s;
    content: "";

  }

  &::before {
    width: 100%;
    left: 0;
    border-radius: var(--border-radius);
    background-color: var(--btn-color);
    z-index: -1;
  }

  &::after {
    width: 0;
    left: 50%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transform: translate(-50%, 0);
    z-index: 1;
  }

  &:hover {
    color: white;
    border: solid 2px var(--btn-color);
    border-radius: 20px var(--border-radius);

    &::before {
      transform: scale(0, 1);
    }

    &::after {
      width: 50%;
      border-color: var(--btn-color);
      transition-delay: 0.2s;
    }
  }
}
  /*> Fin Boton Volver <*/

  /* Inicio Tarjetas */
  .card {
    width: 100%;
    height: max-content;
    display: block;
    margin-bottom: 35px;
    background-color: var(--color-blanco);
    border-radius: 5px;
    border-top: solid 1px var(--color-negro);
    border-left: solid 1px var(--color-negro);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: -10px -10px 8px rgba(0, 0, 0, 0.2);
    scale: 1.005;
  }

  .card img {
    max-width: 700px;
    height: 400px;
    object-fit: cover;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 3px;
    /*box-shadow: inset 0 0 0 1px var(--border-foto);*/
  }

  .card-img-top {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 100px;
    box-shadow: inset 0 0 0 1px var(--border-foto);
  }

  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 1.5rem;
    color: #2f2f2f;
  }

  .card-text {
    font-size: 1rem;
    color: #2f2f2f;
  }

  .text-center {
    margin: 9px;
  }

  /* Fin Inicio Tarjetas */

  /* Inicio Leer más */
  #leerMas {
    width: 97%;
    height: max-content;
    display: block;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: var(--color-rosa);
    border-radius: 5px;
    color: var(--color-blanco);
    transition: all 0.4s;
  }
  #leerMas:hover {
    box-shadow: -1.5px -1.5px 10px var(--color-negro);
  }

  #leerMas p {
    font-size: 1rem;
    color: var(--color-blanco);
    padding: 10px;
    display: justify;
    cursor: default;
  }
  /* Fin Leer más */

  /* Inicio text center */
  /*> Container text center <*/
  .container-text-center{
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: left;
    background-color: var(--color-rosa);
  }
  .text-center {
    width: max-content;
    height: auto;
    text-align: left;
    font-size: 1.1rem;
    display: justify;
    background-color: #e4e3e388;
    border-radius: 8px;
    padding: 8px;
  }
  /* Fin text center */