.section-calendario{
  width: 100%;
  height: 100%;
  text-align: center;
  display: flexbox;
  margin: auto;
  padding: 1%;
  border: solid 1px black;
  color: white;
  background-color: rgba(0, 0, 0, 0.294);
}
#calendar {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
#formReserva {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  margin: auto;
  color: white;
}
input, button {
  margin: 100%;
  padding: 8px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 5px;
}
button {
  background: #c62891;
  color: rgb(249, 249, 249);
  border: none;
  cursor: pointer;
}
#confirmar{
    margin-top: 2%;
    transition: all 1s ease;
    border-radius: 10px;
    border: solid 1px black;
}
button:hover {
  background: #ffffff;
  color: #c62891;
  text-shadow: 1px 1px 1px black;
}