:root {
  --color-rosa: #e13b96;
  --color-rosa-transparente: #bd56735d;
  --color-negro: #000000;
  --color-negro-transparente: #00000069;
  --color-blanco: #ffffff;
}
*{
  /*margin: 0;*/ /*> COMENTADO MOMENTANEAMENTE */
  padding: 0;
}
html, body{
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

/*> INICIO BODY >*/

/* INICIO DEL BODY PARA ESTABLECER AL FOOTER DEBAJO DE PÁGINA */
section{
  grid-row: 1;
}
footer{
  grid-row: 2;
}
/* FIN DEL BODY PARA ESTABLECER AL FOOTER DEBAJO DE PÁGINA */

/* SECCIÓN BARRA DE NAVEGACIÓN */
.inicio{
  width: 100%;
  height: auto;
  padding: 0 5% 0 2%;
}
.div-inicio{
  column-gap: 1%;
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: .5%;
  position: sticky;
  top: 0px;
}

/*> INICIO SECCIÓN LOGO <*/
#home{
  text-align: center;
  text-shadow: 1px 1px 2px var(--color-blanco), 1.5px 1.5px 2px var(--color-blanco), 0 0 15px var(--color-blanco);
  flex: 1;
}
#l{
  width: 75px;
  height: auto;
  display: block;
  margin: auto;
  box-shadow: 1px 1px 2px var(--color-blanco), 3px 2px 2px var(--color-rosa);
  border-radius: 50%;
}
/*> FIN SECCIÓN LOGO <*/

/* SECCIÓN INGRESOS */
.navbar{
  position: sticky;
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 5px;
}
.container-fluid li{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  list-style: none;
}
#ingreso {
  width: 250px;
  height: auto;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  text-shadow: 1px 1px .5px var(--color-rosa);
  text-align: center;
  /*box-shadow: inset .5px .5px 0px var(--color-negro), 1px 1px 1px var(--color-blanco);*/
  display: block;
  justify-items: center;
  align-items: center;
  margin: auto;
  padding: 2px;
  border-radius: 10px;
  transition: all 1.5s ease;
}
#ingreso:hover, #contact-Event:hover {
  color: #fff;
  transition-delay: 3s ease;
  animation: efect .7s forwards ease;
  background: radial-gradient(circle, var(--color-rosa) 0.2em, transparent 0.3em)   6em 6em / 1em 1em,
              radial-gradient(circle, var(--color-negro) 0.2em, transparent 0.3em) 0 0 / 1em 1em;
}
a{
  width: 80%;
}
@keyframes efect {
  100% {
    background-size: 2.375em 2.375em, 0.1em 0.1em;
  }
}

#ingreso:hover {
  background-color: var(--color-negro-transparente);
  color: var(--color-blanco);
  border-color: var(--color-negro);
}
/* FIN SECCIÓN INGRESOS */

/*> INICIO REEL TEXTO INFINITO <*/
.contenedor-reel-texto{
  width: 100%;
  height: auto;
  display: flex;
  margin: 0 0 1% 0;
  font-family: sans-serif;
  background: #111;
  color: #fff;
  cursor: pointer;
}
.contenedor {
  width: 100%;
  margin: auto;
  display:flex;
  overflow: hidden;
  background: var(--color-rosa);
  padding: 2px 0;
  box-sizing: border-box;
  position: relative;
}
.pista {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  animation: mover 38s linear infinite;
}
.pista #inicio-reel-texto{
  width: 100vw;
  height: 100%;
  background-color: var(--color-negro);
  color: var(--color-blanco);
  text-shadow: 0px 0px 10px var(--color-rosa);
  display: flex;
  margin: auto;
  justify-content: center;
}
.pista span {
  padding: 0 2rem;
  font-size: 1.2; /* Escala con el ancho */
}

/* Pausa al pasar el mouse */
.contenedor:hover .pista {
  animation-play-state: paused;
}

@keyframes mover {
  0% { transform: translateX(0); }
  25% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
/*> FIN REEL TEXTO INFINITO <*/



/*> INICIO SECCIÓN INFORMACIÓN BREVE <*/
/* INICIO CONTENEDOR GENERAL DE LA SECCIÓN */
.seccion-inicio{
  width: 100%; /*> COMENTADO MOMENTANEAMENTE */
  height: 100%; /*> COMENTADO MOMENTANEAMENTE */
  margin: 0;
}
/* FIN CONTENEDOR GENERAL DE LA SECCIÓN */

/* Inicio sección video presentación */
.div-info-izquierda{
  max-width: 30%;
  max-height: 50%;
  border: solid .2px var(--color-rosa);
  border-radius: 10px;
  height: auto;
  padding: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 1.2%;

  #div-info-a{
    width: auto;
    height: auto;
    margin: auto;
    align-items: center;
    display: flexbox;
    text-decoration: none;
    border: solid 1.2px var(--color-blanco);
    border-radius: 5px;
    background-color: var(--color-rosa-transparente);
  }
  .div-texto{
    max-width: 100%;
    max-height: 5%;
  }
  #title-div-info{
    color: var(--color-blanco);
    font-size: 1.5rem;
    padding: 10px;
  }
  .div-imagen{
    width: 100%;
    height: 100%;
    margin: auto;
    border: solid 4px var(--color-blanco);
    box-shadow: 1px 1px 5px var(--color-negro);
  }
  img{
    width: 100%;
    height: auto;
    border-top-left-radius: 110px;
    border-top: solid 5px var(--color-negro);
    border-bottom: solid 3px var(--color-negro);
    margin: auto;
    padding: 10px;
  }
}
/* Fin sección video */

/*# INICIO DE TBODY #*/
/*> SECCIÓN DE IMAGEN FIJA DE FONDO DE PANTALLA <*/
.seccion-inicio,.div-info-izquierda,.info{
  background-image: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, 0.2)), url(/img/PiernaBanco.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.espaciador{
  width: auto;
  height: 100px; /* permite un scoll largo */
}
.info{
  /*ackground-color: rgba(255, 255, 255, 0.8);*/
  display: flex; /* activa Flexbox para alinear y distribuir elementos */
  gap: 22px; /* se define el espacio entre elementos */
  max-width: 100%; /* máximo de ancho en contenedor */
  max-height: 100%; /*> VER SI QUEDA O -> HAIGHT = 100% >*/
  min-height: 60%;
  margin:auto;
  opacity: auto; /* se opaca la imagen según la disposición del puntero */
  padding: 10px; /* separación interna del contenedor en relación a sus elementos */
  flex: 1; /* cuanto crece el elemento en relación al resto, partiendo de 0 */
  flex-wrap: wrap; /* permite que los elementos hijos puedan pasar a una nueva línea cuando no hay espacio suficiente en la línea principal */

  img{
    width: 25%;
    height: max-content;
  }
}
.info > .div-info-1{
  width: 100%;
  max-height: 100%;
  /*background: var(--color-rosa);*/
  border: .1px solid var(--color-blanco);
  color: var(--color-blanco);
  padding: 10px;
  justify-content: space-around;
  display: flexbox;
  margin: auto;
  text-align: justify;
  word-spacing: 2px;
  p{
    text-align: left;
  }
  img{
    width: 100vw;
    height: max-content;
    padding: 2%;
  }
}
.info > .div-info-2{
  width: 100%;
  min-height: 91%;
  background: var(--color-negro);
  color: var(--color-blanco);
  padding: 10px;
  justify-content: space-around;
  display: flexbox;
  margin: auto;
  text-align: justify;
  p{
    text-align: left;
  }
}
.info > .div-info-3{
  width: 100%;
  min-height: 90%;
  /*background: var(--color-rosa);*/
  color: var(--color-blanco);
  padding: 10px;
  justify-content: space-around;
  display: flexbox;
  margin: auto;
  text-align: justify;
  word-spacing: 2px;
  p{
    text-align: left;
  }
}
.info > .div-info-4{
  width: 100%;
  min-height: 88%;
  background: var(--color-rosa-transparente);
  color: var(--color-blanco);
  padding: 10px;
  justify-content:center;
  display: flexbox;
  margin: auto;
  border: solid 1px var(--color-rosa);
  text-align: justify;
  word-spacing: 2px;
  p{
    text-align: left;
  }
}
.info img{
  min-width: 77%;
  height: 100%;
  margin-bottom: 15px;
  display: flex;
}
#texto{
  text-align: justify;
}

/*# INICIO EFECTOS TARJETAS #*/
#card{
  flex: 1;
  cursor:vertical-text;
  transition: flex .8s ease;
  text-align: justify;
}
#card:hover{
  flex: 1.2;
}
.info:hover #card{
  opacity: .65;
}
.info #card:hover{
  opacity: 1;
  /*transform: scale(1);*/
}
/*# FIN EFECTOS TARJETAS #*/

/*> FIN SECCIÓN INFORMACIÓN BREVE <*/


/*> INICIO FOOTER <*/
footer{
  width: 100%;
  height: 100%;
  margin: 0;
  justify-content: center;
}
.footer-text{
  background-color: var(--color-negro);
  color: var(--color-blanco);
}

#p{
  width: 100%;
  height: auto;
  margin: auto;
  justify-content: last baseline;
  display: flex;
  padding: 10px;
}
p{
  height: auto;
  justify-content: center;
  text-align: center;
}

.p-footer{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  gap: 15px; /* Espacio entre columnas */
  padding: 10px;
}

/*# Contenedor de texto del footer responsive #*/
#div{
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  /*width: 90%;*/
  /*height: auto;
  /*justify-content: center;
  align-items: center;*/
  /*flex-direction: column;*/
  /*text-align: center;*/
  border: solid .003px rgba(128, 128, 128, 0.282);
}
/* Cuando el ancho sea menor o igual a 768px → 2 columnas */
  @media (max-width: 768px) {
    .p-footer {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* Opcional: para pantallas muy pequeñas → 1 columna */
  @media (max-width: 480px) {
    .p-footer {
      grid-template-columns: 1fr;
    }
  }
#div #p1, #p2, #p3, #p4{
  color: var(--color-rosa);
  text-shadow: .5px .5px .5px var(--color-blanco);
  text-align: center;
  text-decoration: none;
}
#texto-footer{
  text-align: left;
  justify-content: left;
  margin-left: 1%;
}
.btn.btn-primary{
  background-color: var(--color-negro);
  border: black;
  color: rgb(101, 135, 247);
}


/*# INICIO SECCIÓN CONTACTOS #*/
#contenedor-contacto{
  padding-left: 8px;
  padding-top: 20px;
}
#contenedor-enlace{
  padding-left: 8px;
  padding-bottom: 20px;
}
#imagen-whatsapp{
  width: 55px; 
  height: auto;
  margin: 0 0 2% 10%;
  box-shadow: 1px 1px 1px var(--color-blanco),
  inset .5px .5px .5px var(--color-rosa);
  padding: 5px;
}
#imagen-enlace{
  width: 55px; 
  height: auto;
  margin: 0 0 2% 10%;
  box-shadow: 1px 1px 1px var(--color-blanco),
  inset .5px .5px .5px var(--color-rosa);
  padding: 5px;
}
/*> FIN FOOTER <*/

/*# MEDIA QUERY #*/
@media screen and (max-width: 650px){
  .navbar{
    flex-direction: column;
    justify-content: space-evenly;
  }
}