.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0, 0, 0, 0.551);
  justify-content: center; align-items: center;
}
.modal-content {
  /*background: #fff;*/
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(245, 245, 245, 0.2);
  animation: fadeIn 0.3s ease;
}
.close {
  width: 20%;
  height: auto;
  float: right;
  font-size: 2.2rem;
  text-shadow: 1.5px 1.5px 1.5px rgb(103, 169, 94);
  justify-content: center;
  align-items: center;
  margin: auto;
  cursor: pointer;
}
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
#contenido-modal{
  background-color: black;
  color: rgb(106, 129, 231);
  text-align: justify;
  padding: 5px;
  margin-top: 10px;
  box-shadow: .2px .2px .35px rosybrown;
}
.section-modal{
  width: 100%;
  height: auto;
  margin: auto;
  justify-content: left;
  text-align: left;
}